.chat_input-container {

}

.chat_input-input {
    border: 2px solid rgb(0, 0, 56);
    border-radius: 0.3em;
    padding: 0.4em;
    font-size: 1.6em;
    color: rgb(0, 0, 56);
}

.chat_input-input::placeholder {
    color: rgb(0, 0, 56);
    text-transform: capitalize;
}

.chat_input-error_field {
    color: red;
}