.app-container {
  width: 70vh;
  height: 70vh;
  border: 1px solid black;
  border-radius: 0.5em;
}

.grid-template-3 {
  padding: 1em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4em;
  justify-content: center;
}